@{
    ViewBag.Title = "Home Page";
}

<div class="tableWrapper">
    <h1>Login Page</h1>
</div>

<form action="home/login" method="post">
    <label for="UserName">User name:</label>
    <input type="text" id="UserName" name="UserName"><br><br>
    <label for="Password">Password:</label>
    <input type="text" id="Password" name="Password"><br><br>
    <input type="submit" value="Submit">
</form>
