@{
    ViewBag.Title = "Home Page2";
}

@using System.Web.Script.Serialization;

@{ var obj = new JavaScriptSerializer().Serialize(Model); }

@model CalendarApplication.Models.UserHomePageModel
<div class="jumbotron">
    <h1>@Model.FirstName</h1>
    <h1>@Model.LastName</h1>
    <div id="calendarContainer" data-react-model="@obj"></div>
</div>



