@{
    ViewBag.Title = "Home Page2";
}

@using System.Web.Script.Serialization;

@{ 
    var obj = new JavaScriptSerializer().Serialize(Model);
}

@model CalendarApplication.Models.UserHomePageModel
<div class="jumbotron">
    <div id="calendarContainer" data-react-model="@obj"></div>
</div>



