body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Helvetica';
    border: 1px solid blue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid blue;
}

td {
    width: 170px;
    height: 170px;
    text-align: left;
    font-size: 1em;
    border: 1px solid blue;
}

.boxes {
    border-radius: 5px;
}

#currentDayHighlighted{
    background: red;
}
