body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Helvetica';
    border: 1px solid blue;
    background: white;
}

textarea {
    max-width: 280px;
}

.tableWrapper {
    background: white;
}

table {
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid blue;
}

td {
    width: 170px;
    height: 170px;
    text-align: left;
    font-size: 1em;
    border: 1px solid blue;
}

.boxes {
    border-radius: 5px;
}

#currentDayHighlighted{
    background: orange;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#changeMonth {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    padding: 40px;
}

#monthName {
    margin: 0px 30px
}

.monthButton {
    background: orange;
    color: white;
    border-color: orange;
    border-radius: 8px;
}

#modalHeader {
    height: 26px;
    width: auto;
    background: orange;
    border-radius: 3px;
}

#formContainer {
    padding: 0px 20px 20px 20px;
    background: #4662e8
}


.formLabels {
    background: #4a72bc;
    color: white;
    margin: 0px 20px;
    width: 87px;
    text-align: center;
}

#myForm {
    text-align: center;
}